
<template name="about">
  <a href="#" class="aboutButton">About</a>
  <div id="aboutModal" class="modal bottom-sheet">
    <div class="modal-content">
      <a href="#!" class="close-button modal-action modal-close">
         <i class="mdi-navigation-close"></i>
      </a>
      <h1>Hello World!</h1>
      <p>I left London in early March 2015 and decided to conquer the world. You know, the usual "London's weather sucks, so I quit my job"'" story. Well, more like "I recently graduated with a degree too heavy I have no idea what to do with it". During my days on the road, I also made one of the wildest decisions - to learn how to...CODE. Still terrified!</p>
      <p>After two months crossing borders into cities, towns and deserted places, and through countless programming confusions and doubts, <i>A Movable Trip</i> was born. The title itself is inspired by Hemingway's famous <i>A Moveable Feast</i>. But instead of a feast, this is a trip with minimal or no plan. Visa is a big pain in the ass (for my Vietnamese nationality), but in many ways this trip is movable. We rock with the flow and roll with our spontaneity, and I'm glad we are still able to keep it that way.</p>
      <p>Big thanks to my lovely partner in crime, the 'patient' impatient <a href="http://peterellisjones.com">Peter Ellis Jones</a> for supporting and guiding me through my very first project!</p>
      <p>I hope you enjoy <i>A Movable Trip</i>. Check out my personal website <a href="http://emileetran.com/">Emilee Tran</a> and feel free to reach out any time you catch a bug :)</p>
      <img src="treepose.jpg" />
      <p>xx</p>
      <p>Emilee</p>
    </div>
  </div>
</template>
