<template name="post">
  <div id="postModal" class="modal bottom-sheet">
    <div class="modal-content">
      <a href="#" class="close-button modal-action modal-close">
         <i class="mdi-navigation-close"></i>
      </a>
      {{#if showPost }}
        {{#markdown}}{{ content }}{{/markdown}}
      {{else}}
        {{> spinner }}
      {{/if}}

      <div class="scrollToTop">
        <a href="#"><i class="mdi-hardware-keyboard-arrow-up"></i></a>
      </div>
    </div>

  </div>
</template>